:root {
  --black: #231e24;
  --gray: #392d3e;
  --gray-light: #76697a;
  --violet-dark: #9d44bb;
  --violet: #b725e8;
  --violet-light-1: #e3c9ec;
  --violet-light-2: #ebdfef;
  --violet-light-3: #f6f2f8;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", Roboto, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
